<div class="row-fluid">
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
  <div class="span3">
  	<div class='well'>
  	  <div class="google-header"><b>gmail:</b> perkinpv@gmail.com</div>
  	  <div class="body">
  	  	<p class='from'>
  	  	  from: <b>perkinpv@mail.ru</b>
  	  	</p>
  	  	<p class='subject'>
  	  	  <%= link_to 'Hello World!', 'https://mail.google.com/mail/'%>
  	  	</p>
  	  	<p class='time'>
  	  	  12:56
  	  	</p>
  	  </div>	
  	</div>
  </div>
</div>


<%= link_to 'Edit', edit_gmail_account_path(@gmail_account) %> |
<%= link_to 'Back', gmail_accounts_path %>
